<h1>Redes sociales más usadas</h1>
<hr>

<!-- <div class="alert alert-info" *ngIf="doughnutChartData.length === 0; else divGrafica">
    Cargando data...
</div> -->

<div class="d-flex align-items-center text-primary" *ngIf="doughnutChartData.length === 0; else divGrafica">
    <strong>Cargando...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>

<ng-template #divGrafica>
    
    <div class="row" #divGrafica>
        <div class="col">
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="colors">
                </canvas>
            </div>
        </div>
    </div>
    <span class="float-end text-primary">Información en billones de usuarios</span>
</ng-template>

